<h2 class="menu-header bold-text camelcase-text center-text">News Feed</h2>
<hr class="divider">
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-6 offset-3">
            <div *ngFor="let newsFeed of newsFeedList" class="card mb-2 box-shadow">
                <div class="card-header">
                    <h3>{{newsFeed.shortDescription}} </h3>
                    <small class="text-muted">at {{newsFeed.updatedAt | date : 'medium'}}</small>
                </div>
                <div class="card-body">
                    <img class="card-img-top img-responsive" [src]="newsFeed.imageUrl" alt="Card image cap">
                </div>
                <div class="card-footer m-0">
                    <p class="card-text">
                        {{newsFeed.longDescription}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>