@import '../../../../styles/app.scss';
.nav-menu>li>a:before :hover {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2dc997;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.image-body {
    position: absolute;
    color: white;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.blurred-image {
    -webkit-filter: blur(1px);
    /* Safari 6.0 - 9.0 */
    filter: blur(1px);
}


.menu-header{
    color:#333333;
    margin-top:10px;
}

.division-container {
    margin-top: 30px;
}

.mc-member-container{
    width: 700px;
}

.img-avatar{
    border-radius: 50%;
}

tbody{
    font-size: 14px !important;
}

th{
    background-color:mat-color($mat-app-primary) !important;
    border:none !important;
}

.table-flex-container{
    align-items: flex-start;
}


.table-flex-container > div{
    width:500px;
}

.address-card-container{
    width:350px;
}

.card-detail-text{
    padding-left:25px;
}

.post-login-container {
    // position: relative;
    z-index: 1;
    background-image: url("../../../../assets/teetime-parallax.jpg");
    background-repeat: no-repeat;
    // background-size: contain;
    // width:99vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    flex-direction: column;
}