<div class="container-fluid">
    <h2 class="menu-header bold-text camelcase-text center-text">Tournaments</h2>
    <hr class="divider">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>S. No.</th>
                <th>Tournament Name</th>
                <th>Tournament Date</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Participate</th>
                <th>Withdraw</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tournament  of sharedServ.tournamentList; let _index = index;">
                <td>{{_index + 1}}</td>
                <td>{{tournament.eventName}}</td>
                <td>{{tournament.eventDate}}</td>
                <td>{{tournament.slotStartTime}}</td>
                <td>{{tournament.slotEndTime}}</td>
                <td>
                    <button [disabled]="tournament.isBookedForMember || this.isTournamentExpired(tournament)" mat-raised-button (click)="bookOrWithdrawTournamentForCustomer(tournament,'book')"
                        color="primary">
                        {{this.isTournamentExpired(tournament) ? 'Expired' : (tournament.isBookedForMember ? 'Booked!!!' : 'Participate')}}
                    </button>
                </td>
                <td>
                    <button [disabled]="!tournament.isBookedForMember" mat-raised-button (click)="bookOrWithdrawTournamentForCustomer(tournament,'withdraw')"
                        color="primary">
                        Withdraw
                    </button>
                </td>
                <td>
                    <button mat-raised-button (click)="this.sharedServ.routeTo([tournament.id],this.activatedRoute)" color="primary">
                        View
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>