<div class="container-fluid">
    <h2 class="bold-text center-text camelcase-text">
        {{this.slotInfo.slotStartTime}} - {{this.slotInfo.slotEndTime}} slot booking on 2018-11-06
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-6">
            <img style="width:inherit" title="Add New Member" src="../../../../assets/golf1.png" alt="Card image cap">
        </div>
        <div class="col-6 mt-2">
            <div style="width:inherit">
                <mat-form-field>
                    <mat-select placeholder="Choose Members*" multiple>
                        <mat-option *ngFor="let member of memberList" [value]="member.memberId">{{member.memberName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Type in an invitation"></textarea>
                </mat-form-field>
            </div>
            <div class="center-text" style="margin-top:30px">
                <button (click)="bookTeetimeSlot(this.slotInfo)" style="padding: 10px 50px;border-radius: 40px;font-size: 20px" mat-raised-button
                    color="primary">Book Now</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="flex-container" style="justify-content: space-around">

</div>
<div class="flex-container" style="justify-content: space-between">
    <div>
        <mat-form-field>
            <mat-select placeholder="Choose Members" multiple>
                <mat-option>One</mat-option>
                <mat-option>Two</mat-option>
                <mat-option>Three</mat-option>
                <mat-option>Four</mat-option>
                <mat-option>Five</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary">Book Now</button>
    </div>
</div> -->