.profile-picture{
    height: 200px;
    width:200px;
    border-radius: 100px;
}

img:hover{
    -webkit-filter: blur(1px);
    filter: blur(3px);
    cursor:  pointer !important;
}

.inputs{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: #00f;
    z-index: 110;
    cursor: pointer 
}