<h2 class="menu-header bold-text camelcase-text center-text">Change Password</h2>
<hr class="divider">
<div class="flex-container container-fluid">
    <div>
        <img height="200px" title="Change Password" src="../../../../assets/change-password.png" alt="Card image cap">
    </div>
    <div style="min-width:300px" class="center-text">
        <form [formGroup]="changePasswordFormGroup">
            <div>
                <mat-form-field>
                    <input matInput placeholder="Current Password" type="password" [formControlName]="'oldPassword'" [type]="!show1 ? 'password' : 'text'">
                    <mat-icon class="cursor-pointer" matSuffix (mouseenter)="show1 = true" (mouseleave)="show1 = false">{{show1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="New Password" type="password" [formControlName]="'password'" [type]="!show2 ? 'password' : 'text'">
                    <mat-icon class="cursor-pointer" matSuffix (mouseenter)="show2 = true" (mouseleave)="show2 = false">{{show2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" [formControlName]="'confirmPassword'" [type]="!show3 ? 'password' : 'text'">
                    <mat-icon class="cursor-pointer" matSuffix (mouseenter)="show3 = true" (mouseleave)="show3 = false">{{show3 ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="changePassword();">Change Password</button>
            </div>
        </form>
    </div>
</div>