.expanded-slot-card{
    width: 300px;
    // min-height: 450px;
}

.flex-container > div{
    // width:150px;
    // margin: 2vh 5px;
    -webkit-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.blurred-image {
    -webkit-filter: blur(10);
    /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}