<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-1" style="cursor:pointer" (click)="teeBoxName = 'TBox 1'">
            <img title="Book Slots for TBox 1" width="395" height="538" src="../../assets/field_reservation1.jpg" alt="Card image cap">
            <!-- <h6 class="center-text primary-color">TBox 1</h6> -->
            <button style="position: absolute;bottom: 30%;left: 10%;" mat-mini-fab color="warn">T1</button>
        </div>
        <div class="col-7" style="margin-top:50px;cursor:pointer" (click)="teeBoxName = 'TBox 10'">
            <img title="Book Slots for TBox 10" src="../../assets/field_reservation10.jpg" alt="Card image cap">
            <!-- <h6 class="center-text primary-color">TBox 10</h6> -->
            <button style="position: absolute;bottom: 30%;left: 40%;" mat-mini-fab color="warn">T10</button>
        </div>
    </div>
</div>
<div class="flex-container ">
    <div>
        <mat-form-field>
            <input matInput [min]="currentDate" [matDatepicker]="picker" [(ngModel)]="teeTimeDate" placeholder="Book a Tee Time On">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary">Refresh</button>
    </div>
</div>

<h2 class="bold-text center-text camelcase-text">Tee Time Slots for {{teeBoxName}} on {{teeTimeDate | date:'mediumDate'}}</h2>
<hr class="divider ">
<div class="teeslot-container">
    <div class="flex-container">
        <div *ngFor="let teeSlot of teeSlotList">
            <mat-card style="padding:8px 24px" class="example-card">
                <mat-card-header>
                    <mat-card-title style="font-size:22px;text-align:center">{{teeSlot.slotStartTime}}</mat-card-title>
                    <mat-card-subtitle style="text-align:center">9 Holes</mat-card-subtitle>
                    <mat-card-subtitle style="text-align:center">18 Holes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content align="center">
                    <button mat-raised-button color="primary">Book Now</button>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>