<!-- <div *ngIf="this.rtr.url.includes('landing-page')">
    <div style="height:100vh" class="bg-image-container">
        <ng-container *ngTemplateOutlet="navBarTemplate"></ng-container>
    </div>
</div>
<div *ngIf="!this.rtr.url.includes('landing-page')" style="height:90px" class="sticky-top bg-image-container">
    <ng-container *ngTemplateOutlet="navBarTemplate"></ng-container>
</div> -->
<div style="height:90px" class="sticky-top bg-image-container">
    <ng-container *ngTemplateOutlet="navBarTemplate"></ng-container>
</div>
<!-- <ng-container *ngTemplateOutlet="navBarTemplate"></ng-container> -->

<ng-template #navBarTemplate>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg transparent-navbar-class">
            <a class="navbar-brand" href="#">
                <img src="../../assets/hgc-logo.png" width="60" height="65" alt="">
                <span style="font-size:1.2rem;color:#ffffff;letter-spacing: 0.15rem;margin-left: 8px;">Hyderabad Golf Club</span>
            </a>
            <button (click)="isMenuToggled = !isMenuToggled" class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <mat-icon class="primary-color">apps</mat-icon>
            </button>

            <div class="collapse navbar-collapse" [class.show]="isMenuToggled" id="navbarSupportedContent">
                <ul class="navbar-nav nav-menu ml-auto">
                    <li class="nav-item">
                        <button disableRipple="true" mat-menu-item (click)="routeTo(['home', 'landing-page'])">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="aboutUsMenus">About us
                            <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                        </button>
                        <mat-menu [overlapTrigger]="false" backdropClass="temp-class" #aboutUsMenus="matMenu">
                            <button mat-menu-item (click)="routeTo(['home', 'management-committee'])">Management Committee</button>
                            <button mat-menu-item (click)="routeTo(['home', 'sub-committees'])">Sub-Committees</button>
                            <button mat-menu-item (click)="routeTo(['home', 'affiliations'])">HGA Affiliations & Clubs</button>
                            <button mat-menu-item (click)="routeTo(['home', 'contact-us'])">Contact us</button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="golfMenus">Golf
                            <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                        </button>
                        <mat-menu [overlapTrigger]="false" #golfMenus="matMenu">
                            <button mat-menu-item [matMenuTriggerFor]="courseMenus">Course Layout</button>
                            <button mat-menu-item [matMenuTriggerFor]="golfCoachingMenus">Golf Coaching</button>
                            <button mat-menu-item [matMenuTriggerFor]="juniorProgramMenus">Junior Program</button>
                            <button mat-menu-item (click)="routeTo(['home', 'driving-range'])">Driving Range</button>
                            <button mat-menu-item (click)="routeTo(['home', 'fees-and-costs'])">Fees & Costs</button>
                            <button mat-menu-item (click)="routeTo(['home', 'rules-and-etiquette'])">Rules & Etiquette</button>
                        </mat-menu>
                        <mat-menu [overlapTrigger]="false" #courseMenus="matMenu">
                            <button mat-menu-item (click)="routeTo(['home', 'score-card'])">Score Card</button>
                            <button mat-menu-item>Pictures</button>
                        </mat-menu>
                        <mat-menu [overlapTrigger]="false" #golfCoachingMenus="matMenu">
                            <button mat-menu-item>Programs</button>
                            <button mat-menu-item (click)="routeTo(['home', 'coaches-and-facilities'])">Coaches & Facilities</button>
                        </mat-menu>
                        <mat-menu [overlapTrigger]="false" #juniorProgramMenus="matMenu">
                            <button mat-menu-item (click)="routeTo(['home', 'hga-kga'])">HGA-K&A Jr Programme</button>
                            <button mat-menu-item>Student Player</button>
                            <button mat-menu-item>Coaching Camps</button>
                            <button mat-menu-item>Gallery</button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="clubHouseMenus">Club house
                            <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                        </button>
                        <mat-menu [overlapTrigger]="false" #clubHouseMenus="matMenu">
                            <button mat-menu-item>Food & Beverages</button>
                            <button mat-menu-item (click)="routeTo(['home', 'food-menu'])">Food Menu</button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="galleryMenus">Gallery
                            <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                        </button>
                        <mat-menu [overlapTrigger]="false" #galleryMenus="matMenu">
                            <button mat-menu-item>The Course</button>
                            <button mat-menu-item>Events</button>
                            <button mat-menu-item>Jamalikunta</button>
                            <button mat-menu-item>Nayaqila</button>
                        </mat-menu>
                    </li>
                    <li *ngIf="this.sharedServ.isUserLoggedIn" class="nav-item">
                        <button disableRipple="true" mat-menu-item (click)="routeTo(['teetime'])">Tee Time</button>
                    </li>
                    <li *ngIf="this.sharedServ.isUserLoggedIn" class="nav-item">
                        <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="userMenus">
                            {{sharedServ.isUserTypeInsider() ? "Admin's Area" : "Member's Area"}} </button>
                        <mat-menu [overlapTrigger]="false" #userMenus="matMenu">
                            <button mat-menu-item (click)="routeTo(['events'])">Events</button>
                            <button *ngIf = "!sharedServ.isUserTypeInsider()" mat-menu-item (click)="routeTo(['tournament'])">Tournaments</button>
                            <button mat-menu-item (click)="routeTo(['members'])">Members</button>
                            <button mat-menu-item (click)="routeTo(['change-password'])">Personalize</button>
                            <button class="warn-color" (click)="processUserLogout();" mat-menu-item>
                                Logout
                                <mat-icon class="warn-color" style="font-size:22px">exit_to_app</mat-icon>
                            </button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <button *ngIf="!this.sharedServ.isUserLoggedIn" disableRipple="true" (click)="openLoginDialog()" mat-menu-item>
                            Login
                            <mat-icon style="color:#ffffff;font-size:22px">account_circle</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <mat-progress-bar *ngIf="sharedServ.showProgressBar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>

<div class="router-outlet-container" [class.mt-3]="!this.rtr.url.includes('landing-page')">
    <div *ngIf="isRouteLoading" style="display:flex;justify-content: center;align-items: center;height:100vh">
        <img src="../../assets/loading.png" style="height:250px;width:250px" alt="">
    </div>
    <div [style.visibility]="isRouteLoading ? 'hidden' : 'visible'">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="division-container">
    <div style="background: #152229">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-12 mt-2">
                        <h4 class="accent-color bold-text">About</h4>
                        <p class="light-color">
                            The Hyderabad Golf club is an 18 hole golf course located in a historic setting in and around Golconda Fort. A project promoted
                            by the Telangana State Tourism Development Corporation and the Hyderabad Golf Association. Hyderabad’s
                            first and only public golf course
                        </p>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-2">
                        <h4 class="accent-color bold-text">Quick Links</h4>
                        <ul class="pl-5">
                            <p class="light-color cursor-pointer" (click)="routeTo(['home', 'contact-us'])">
                                <span class="bold-text accent-color">></span> About</p>
                            <p class="light-color cursor-pointer" (click)="routeTo(['teetime'])">
                                <span class="bold-text accent-color">></span> Tee Time</p>
                            <p class="light-color cursor-pointer" (click)="routeTo(['home', 'coaches-and-facilities'])">
                                <span class="bold-text accent-color">></span> Training</p>
                            <p class="light-color cursor-pointer" (click)="routeTo(['events'])">
                                <span class="bold-text accent-color">></span> Events</p>
                            <p class="light-color cursor-pointer" (click)="routeTo(['home', 'landing-page'])">
                                <span class="bold-text accent-color">></span> Blog</p>
                            <p class="light-color cursor-pointer" (click)="routeTo(['home', 'contact-us'])">
                                <span class="bold-text accent-color">></span> Contacts</p>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-2">
                        <h4 class="accent-color bold-text">Contact Us</h4>
                        <p class="light-color">9-4-187/GOLF, 7 Tombs Road, Golconda Fort</p>
                        <p class="light-color"> Hyderabad, Telangana 500008</p>
                        <p class="light-color">090300 32700</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf = "!this.sharedServ.isUserLoggedIn" class="map-image-container col-12" style="width: inherit;padding:10px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 offset-8">
                        <div class="feedback-form-container">
                            <div>
                                <h4 class="primary-color">Reach us out here</h4>
                                <hr class="divider">
                                <form>
                                    <div>
                                        <mat-form-field>
                                            <input matInput placeholder="Name">
                                            <mat-icon matSuffix>account_circle</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field>
                                            <input matInput placeholder="Email Id">
                                            <mat-icon matSuffix>contact_mail</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field>
                                            <input matInput placeholder="Message">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="primary">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
