<title>Hyderabad Golf Club - Version {{sharedServ.environment?.appVersion}}</title>
<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-class">
        <a class="navbar-brand" href="#">
            <img src="../../assets/hgc-logo.png" width="60" height="65" alt="">
            <span style="font-weight:bold">Hyderabad Golf Club</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-menu ml-auto">
                <li class="nav-item">
                    <button disableRipple="true" mat-menu-item (click)="routeTo(['home', 'landing-page'])">Home</button>
                </li>
                <li *ngIf="!sharedServ.isUserTypeInsider()" class="nav-item">
                    <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="aboutUsMenus">About us
                        <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                    </button>
                    <mat-menu [overlapTrigger]="false" backdropClass="temp-class" #aboutUsMenus="matMenu">
                        <button mat-menu-item (click)="routeTo(['home', 'management-committee'])">Management Committee</button>
                        <button mat-menu-item (click)="routeTo(['home', 'sub-committees'])">Sub-Committees</button>
                        <button mat-menu-item (click)="routeTo(['home', 'affiliations'])">HGA Affiliations & Clubs</button>
                    </mat-menu>
                </li>
                <li *ngIf="!sharedServ.isUserTypeInsider()" class="nav-item">
                    <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="golfMenus">Golf
                        <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                    </button>
                    <mat-menu [overlapTrigger]="false" #golfMenus="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="courseMenus">Course Layout</button>
                        <button mat-menu-item [matMenuTriggerFor]="golfCoachingMenus">Golf Coaching</button>
                        <button mat-menu-item [matMenuTriggerFor]="juniorProgramMenus">Junior Program</button>
                        <button mat-menu-item (click)="routeTo(['home', 'driving-range'])">Driving Range</button>
                        <button mat-menu-item (click)="routeTo(['home', 'fees-and-costs'])">Fees & Costs</button>
                        <button mat-menu-item (click)="routeTo(['home', 'rules-and-etiquette'])">Rules & Etiquette</button>
                    </mat-menu>
                    <mat-menu [overlapTrigger]="false" #courseMenus="matMenu">
                        <button mat-menu-item (click)="routeTo(['home', 'score-card'])">Score Card</button>
                        <button mat-menu-item>Pictures</button>
                    </mat-menu>
                    <mat-menu [overlapTrigger]="false" #golfCoachingMenus="matMenu">
                        <button mat-menu-item>Programs</button>
                        <button mat-menu-item (click)="routeTo(['home', 'coaches-and-facilities'])">Coaches & Facilities</button>
                    </mat-menu>
                    <mat-menu [overlapTrigger]="false" #juniorProgramMenus="matMenu">
                        <button mat-menu-item (click)="routeTo(['home', 'hga-kga'])">HGA-K&A Jr Programme</button>
                        <button mat-menu-item>Student Player</button>
                        <button mat-menu-item>Coaching Camps</button>
                        <button mat-menu-item>Gallery</button>
                    </mat-menu>
                </li>
                <li *ngIf="!sharedServ.isUserTypeInsider()" class="nav-item">
                    <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="clubHouseMenus">Club house
                        <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                    </button>
                    <mat-menu [overlapTrigger]="false" #clubHouseMenus="matMenu">
                        <button mat-menu-item>Food & Beverages</button>
                        <button mat-menu-item (click)="routeTo(['home', 'food-menu'])">Food Menu</button>
                    </mat-menu>
                </li>
                <li *ngIf="!sharedServ.isUserTypeInsider()" class="nav-item">
                    <button disableRipple="true" mat-menu-item (click)="routeTo(['home', 'contact-us'])">Contact us</button>
                </li>
                <li *ngIf="!sharedServ.isUserTypeInsider()" class="nav-item">
                    <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="galleryMenus">Gallery
                        <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                    </button>
                    <mat-menu [overlapTrigger]="false" #galleryMenus="matMenu">
                        <button mat-menu-item>The Course</button>
                        <button mat-menu-item>Events</button>
                        <button mat-menu-item>Jamalikunta</button>
                        <button mat-menu-item>Nayaqila</button>
                    </mat-menu>
                </li>
                <li *ngIf="this.sharedServ.isUserLoggedIn" class="nav-item">
                    <button class="mat-menu-list-button" disableRipple="true" mat-menu-item [matMenuTriggerFor]="userMenus">
                        {{sharedServ.isUserTypeInsider() ? "Admin's Area" : "Member's Area"}} </button>
                    <mat-menu [overlapTrigger]="false" #userMenus="matMenu">
                        <button mat-menu-item (click)="routeTo(['teetime'])">Tee Time</button>
                        <button mat-menu-item (click)="routeTo(['events'])">Events</button>
                        <button mat-menu-item (click)="routeTo(['members'])">Members</button>
                        <button class="warn-color" (click)="processUserLogout();" mat-menu-item>
                            Logout
                            <mat-icon class="warn-color" style="font-size:22px">exit_to_app</mat-icon>
                        </button>
                    </mat-menu>
                </li>
                <li class="nav-item">
                    <button class="primary-color" *ngIf="!this.sharedServ.isUserLoggedIn" disableRipple="true" (click)="openLoginDialog()" mat-menu-item>
                        Login
                        <mat-icon class="primary-color" style="font-size:22px">account_circle</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <mat-progress-bar *ngIf="sharedServ.showProgressBar" mode="indeterminate"></mat-progress-bar>
</div>

<div class="router-outlet-container" [class.mt-3]="!this.rtr.url.includes('landing-page') && !this.rtr.url.includes('post-login')">
    <div *ngIf="isRouteLoading" style="display:flex;justify-content: center;align-items: center;height:100vh">
        <img src="../../assets/loading.png" style="height:250px;width:250px" alt="">
    </div>
    <div [style.visibility]="isRouteLoading ? 'hidden' : 'visible'">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="mt-5 division-container">
    <div style="background-color:#333335">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-2">
                    <h4 class="primary-color uppercase-text bold-text">About</h4>
                    <p class="light-color">
                        Since the opening of Golfield on August 15, 1995, the Club has become a popular tourist destination attracting golfers. Carved
                        through a forest of eucalyptus and pine trees with the backdrop of the snow-capped Taurus Mountains
                        and an abundance of natural lakes, our club tests all abilities of players.</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-2">
                    <h4 class="primary-color uppercase-text bold-text">Quick Links</h4>
                    <div class="pl-5">
                        <p class="light-color">
                            <span class="bold-text">></span> About</p>
                        <p class="light-color">
                            <span class="bold-text">></span> Tee</p>
                        <p class="light-color">
                            <span class="bold-text">></span> Training</p>
                        <p class="light-color">
                            <span class="bold-text">></span> Events</p>
                        <p class="light-color">
                            <span class="bold-text">></span> Blog</p>
                        <p class="light-color">
                            <span class="bold-text">></span> Contacts</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-2">
                    <h4 class="primary-color uppercase-text bold-text">Contact Us</h4>
                    <p class="light-color">2130 Fulton Street San Diego, CA 94117-1080 USA</p>
                    <p class="light-color">1-800-1234-567</p>
                    <p class="light-color">info@demolink.org</p>
                </div>
            </div>
        </div>
        <div style="margin-top:20px" class="col-12">
            <img style="height:500px;width:inherit" src="../../assets/map.png" alt="Card image cap">
        </div>
    </div>
</div>