<div class="container-fluid">
    <h2 class="bold-text center-text camelcase-text">Members and Connections</h2>
    <hr class="divider">
    <mat-tab-group>
        <mat-tab *ngIf="sharedServ.isUserTypeInsider()" label="Add Members">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="addMembersTemplate;context:{formGroup:newMemberGroup}"></ng-container>
            </div>
        </mat-tab>
        <!-- <mat-tab *ngIf="!sharedServ.isUserTypeInsider()" label="My Groups">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="groupsTemplate;context:{groupList:myGroupList}"></ng-container>
            </div>
        </mat-tab> -->
        <mat-tab [label]="sharedServ.isUserTypeInsider() ? 'All Members' : 'My Connections'">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="myMemberTemplate;context:{memberList:this.sharedServ.memberList}"></ng-container>
            </div>
        </mat-tab>
        <mat-tab *ngIf="!sharedServ.isUserTypeInsider()" label="Members I May know">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="nonMembersTemplate;context:{memberList:this.sharedServ.memberList}"></ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #groupsTemplate let-groupList="groupList">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let group of groupList">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{group.groupName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{group.members.length}} Members
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="myMemberTemplate;context:{memberList:group.members}"></ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>

<ng-template #nonMembersTemplate let-memberList="memberList">
    <div class="flex-container">
        <div *ngFor="let member of memberList">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{member.firstName +' '+ member.lastName}}</mat-card-title>
                    <mat-card-subtitle>Email : {{member.email}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content align="center">
                    <button mat-raised-button color="primary">Follow</button>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>

<ng-template #myMemberTemplate let-memberList="memberList">
    <div class="flex-container">
        <div style="max-width:300px">
            <mat-form-field>
                <input matInput placeholder="Search Members with mem-id or name" [(ngModel)]="searchKeyword">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Member Type" (change)="this.filterMemberList()" [(ngModel)]="filterMemberType">
                    <mat-option [value]="'All'">All Members</mat-option>
                    <mat-option [value]="'Associate Member'">Associate Members</mat-option>
                    <mat-option [value]="'Permanent Member'">Permanent Members</mat-option>
                    <mat-option [value]="'Candidate Member'">Candidate Members</mat-option>
                    <mat-option [value]="'Service Member'">Service Members</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div *ngFor="let member of filteredMemberList | searchArray:'memberId,firstName,lastName':searchKeyword">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{member.firstName +' '+ member.lastName}}</mat-card-title>
                    <mat-card-subtitle>Email : {{member.email}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <p class="primary-color">Contact No : {{member.phone}}</p>
                </mat-card-actions>
                <mat-card-footer>

                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</ng-template>


<ng-template #addMembersTemplate let-formGroup="formGroup">
    <div class="flex-container container-fluid">
        <div>
            <img height="380px" title="Add New Member" src="../../../../assets/golf_instructor.png" alt="Card image cap">
        </div>
        <div style="min-width: 400px" class="center-text">
            <form [formGroup]="formGroup">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="First Name" [formControlName]="'firstName'">
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Last Name" [formControlName]="'lastName'">
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Member Id" [formControlName]="'memberId'">
                        <mat-icon matSuffix>input</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select matInput placeholder="Member Type" [formControlName]="'memberType'">
                            <mat-option [value]="'Permanent Member'">Permanent Member</mat-option>
                            <mat-option [value]="'Associate Member'">Associate Member</mat-option>
                            <mat-option [value]="'Candidate Member'">Candidate Member</mat-option>
                            <mat-option [value]="'Service Member'">Service Member</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Phone No" [formControlName]="'phone'">
                        <mat-icon matSuffix>contact_phone</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email Id" [formControlName]="'email'">
                        <mat-icon matSuffix>contact_mail</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" [formControlName]="'password'" [type]="!showPassword ? 'password' : 'text'">
                        <mat-icon class="cursor-pointer" matSuffix (mouseenter)="showPassword = true" (mouseleave)="showPassword = false">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" type="password" [formControlName]="'confirmPassword'" [type]="!showConfirmPassword ? 'password' : 'text'">
                        <mat-icon class="cursor-pointer" matSuffix (mouseenter)="showConfirmPassword = true" (mouseleave)="showConfirmPassword = false">{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>

                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="registerMember();">Add Member</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>