<div class="container-fluid">
    <h2 class="menu-header bold-text camelcase-text center-text">My Bookings</h2>
    <hr class="divider">
    <mat-tab-group>
        <mat-tab label="Upcoming Teetimes">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="eventsTableTemplate;context:{eventList:this.sharedServ.upcomingEventList}"></ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Upcoming Tournaments">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="tournamentsTableTemplate;context:{tournamentList:this.sharedServ.tournamentList}"></ng-container>
            </div>
        </mat-tab>
        <mat-tab label="History">
            <div class="mt-2">
                <ng-container *ngTemplateOutlet="eventsTableTemplate;context:{eventList:this.sharedServ.historyEventList}"></ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


<ng-template #tournamentsTableTemplate let-showTournamentList="tournamentList">
        <table *ngIf="getValidTournamentsLength()" class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tournament Name</th>
                    <th>Tournament Date</th>
                    <th>From Time</th>
                    <th>To Time</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let tournament  of showTournamentList;">
                    <tr *ngIf="tournament.isBookedForMember">
                        <td>{{tournament.eventName}}</td>
                        <td>{{tournament.eventDate}}</td>
                        <td>{{tournament.slotStartTime}}</td>
                        <td>{{tournament.slotEndTime}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="mt-4 center-text" *ngIf="!getValidTournamentsLength()">
            <h2 class="accent-color">No Tournaments here</h2>
            <div style="margin:20px;text-align: center">
                <button disableRipple="true" style="padding: 15px 30px;font-size: 16px" mat-raised-button color="accent" (click)="this.rtr.navigateByUrl('/layout/tournament')">
                    <span style="color:#ffffff;letter-spacing: 0.15rem">Participate in a Tournament</span>
                </button>
            </div>
        </div>
    </ng-template>

<ng-template #eventsTableTemplate let-showEventList="eventList">
    <table *ngIf="showEventList.length" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Event Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>T-Box</th>
                <th>Booked By</th>
                <th>Other Members</th>
                <th>Guests(if any)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of showEventList">
                <td>{{event.eventDate}}</td>
                <td>{{event.slotStartTime}}</td>
                <td>{{event.slotEndTime}}</td>
                <td>{{getTBoxInfo(event.resourceId)?.resourceName}}</td>
                <td>
                    <span class="at-tooltip">{{getMemberInfo(event.bookedBy) ? getMemberInfo(event.bookedBy).firstName+ ' ' + getMemberInfo(event.bookedBy).lastName
                        : event.bookedBy}}
                        <span *ngIf="getMemberInfo(event.bookedBy)" class="at-tooltip-text">
                            <p class="accent-color" style="font-weight: bold">{{event.bookedBy}}</p>
                            <p>
                                <font style="font-weight: bold">Email-</font>{{getMemberInfo(event.bookedBy).email}}</p>
                            <p>
                                <font style="font-weight: bold">Phone-</font>{{getMemberInfo(event.bookedBy).phone}}</p>
                        </span>
                    </span>
                </td>
                <td>
                    <ng-container *ngFor="let otherMember of event.members">
                        <ng-container *ngIf="otherMember != event.bookedBy">
                            <span *ngIf="getMemberInfo(otherMember)" class="at-tooltip">{{getMemberInfo(otherMember).firstName+ ' ' + getMemberInfo(otherMember).lastName}}
                                <span class="at-tooltip-text">
                                    <p class="accent-color" style="font-weight: bold">{{otherMember}}</p>
                                    <p>
                                        <font style="font-weight: bold">Email-</font>{{getMemberInfo(otherMember).email}}</p>
                                    <p>
                                        <font style="font-weight: bold">Phone-</font>{{getMemberInfo(otherMember).phone}}</p>
                                </span>
                            </span>
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngFor="let guest of event.guests">
                        <span *ngIf="getGuestInfo(guest)" class="at-tooltip">{{getGuestInfo(guest).firstName + ' ' + getGuestInfo(guest).lastName}}
                            <span class="at-tooltip-text">
                                <p class="accent-color" style="font-weight: bold">{{guest}}</p>
                                <p>
                                    <font style="font-weight: bold">Email-</font>{{getGuestInfo(guest).email}}</p>
                                <p>
                                    <font style="font-weight: bold">Phone-</font>{{getGuestInfo(guest).phone}}</p>
                            </span>
                        </span>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mt-4 center-text" *ngIf="!showEventList.length">
        <h2 class="accent-color">No events here</h2>
        <div style="margin:20px;text-align: center">
            <button disableRipple="true" style="padding: 15px 30px;font-size: 16px" mat-raised-button color="accent" (click)="this.rtr.navigateByUrl('/layout/teetime')">
                <span style="color:#ffffff;letter-spacing: 0.15rem">Book Tee Times</span>
            </button>
        </div>
    </div>
</ng-template>