@import '../../../../styles/app.scss';

th{
    background-color:mat-color($mat-app-primary) !important;
    border:none !important;
}

.at-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-right: 5px;
    cursor: pointer;
}

.at-tooltip .at-tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 108%;
}

.at-tooltip .at-tooltip-text::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.at-tooltip:hover .at-tooltip-text {
    visibility: visible;
}